header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: auto;
}
button{
    padding: 5px;
    margin: 5px;
}
.instructions {
    width: 100vmin;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.control-up{
    display: flex;
    justify-content: center;
}
#game-board{
    background-color: lightgray;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    margin: auto;
}
.player{
    background-color: lightseagreen;
}
.wall{
    background-color: gray;
}
.finish{
    background-color: yellow;
}
.redDoorClosed{
    background-color: red;   
}
.redDoorOpen{
    background-color: tomato;
}
.blueDoorClosed{
    background-color: blue;   
}
.blueDoorOpen{
    background-color: lightskyblue;
}
.greenDoorClosed{
    background-color: green;   
}
.greenDoorOpen{
    background-color: lightgreen;
}